- if current_user.has_credential_for?(@provider)
  - if @albums.present?
    %ul.photo_albums{:id => "#{@provider.code}_albums"}
      - @albums.each do |album|
        = render :partial => "providers/album", :object => album
  - else
    %p No albums
- else
  %p= link_to_function "Allow access to #{@provider.name}", "window.open('#{connect_provider_path(@provider)}','Connect to #{@provider.name}', 'menubar=no,width=730,height=560,toolbar=no')"
