%div{:style => 'display: none'}
  - @trip.events.each_with_index do |event, i|
    %div.event{:id => "event-#{i}"}
      %h1= event.name
      %div= event.description
      %div{:style => 'display: none'}
        .id= event.id
        .transport_mode_id= event.transport_mode_id
        .longitude= event.longitude
        .latitude= event.latitude
      %p
        - if event.previous_event_id
          = link_to 'previous', "##{i-1}", :class => 'previous', :id => "previous-#{event.id}"
        \|
        - if event.next_event_id
          = link_to 'next', "##{i+1}", :class => 'next', :id => "next-#{event.id}"

= render :partial => 'trips/map', :locals => {:trip => @trip, :mode => :play_trip}