%h1= @trip.name

#event_data{:style => 'display: none'}
  - @trip.events.each_with_index do |event, i|
    %div.event{:id => "event-#{i}"}
      %h1= event.name
      %div= event.description
      %div{:style => 'display: none'}
        .id= event.id
        .transport_mode_id= event.transport_mode_id
        .longitude= event.longitude
        .latitude= event.latitude
      %p
        - if event.previous_event_id
          = link_to 'previous', "##{i-1}", :class => 'previous', :id => "previous-#{event.id}"
        \|
        - if event.next_event_id
          = link_to 'next', "##{i+1}", :class => 'next', :id => "next-#{event.id}"

= render :partial => 'trips/map', :locals => {:trip => @trip, :mode => :play_trip}

- @trip.events.each do |event|
  - class_name = @trip.events.first == event ? 'active' : ''
  .map_navigation{:id => "map-navigation-#{event.id}", :class => class_name}
    .prev_event.event_nav_button
      - if event.previous_event
        .event_id= event.previous_event.id
        = link_to '', '#', :class => 'prev_arrow arrow'
        = link_to event.previous_event.name, '#', :class => 'name ellipsis'
    .current_event
      %h2.ellipsis= link_to event.name, '#'
      %p.current_event_id= event.id
      %p.time= event.started_at
    .next_event.event_nav_button
      - if event.next_event
        .event_id= event.next_event.id
        = link_to event.next_event.name, '#', :class => 'name ellipsis'
        = link_to '', '#', :class => 'next_arrow arrow'