%h1== #{link_to 'My Trips', trips_path}  &rsaquo; #{@trip.name}

#trip_id.hide= @trip.id

#trip_details_actions
  #trip_description
    - if @trip.description.present?
      = nl2br(@trip.description)
    - else
      No description.
    %p
      %span#edit_trip_link== [#{link_to 'edit', edit_trip_path(@trip)}]
      %span#delete_trip_link== [#{link_to 'delete', trip_path(@trip), :method => :delete, :confirm => "Are you sure you want to permanently delete this trip?"}]

  #trip_actions
    = link_to 'PLAY', {:action => 'play'}, :id => 'play_trip_button', :class => 'trip_button'
    -#= link_to 'SHARE', '#', :id => 'share_trip_button', :class => 'trip_button'

#tool_tabs
  %ul#tool_tabs_list 
    %li= link_to 'Map', '#map_tool'
    %li= link_to 'Photos', '#photos_tool'
  #photos_tool.tool_tab_content= render :partial => 'items/import_photos', :locals => {:providers => @providers, :selected_provider => @selected_provider}
  #map_tool.tool_tab_content= render :partial => 'trips/map', :locals => {:trip => @trip, :mode => :trip_overview}
%ul#events
  - if @trip.events.present?
    = render :partial => 'events/event', :collection => @trip.events

#new_event_wrapper
  .handle
  .ajax_loading
  %h3 Add Event
  = render :partial => 'events/mini_form', :locals => {:event => Event.new(:trip => @trip)}