%h1== #{link_to 'My Trips', trips_path}  &rsaquo; #{@trip.name}

#trip_id.hide= @trip.id

#trip_details_actions
  = nl2br(@trip.description)

  #trip_actions
    = link_to 'PLAY', {:action => 'play'}, :id => 'play_trip_button', :class => 'trip_button'
    = link_to 'SHARE', {:action => 'share'}, :id => 'share_trip_button', :class => 'trip_button'

- unless @trip.events.empty?
  = render :partial => 'trips/map', :locals => {:trip => @trip, :mode => :trip_overview}
  %ul#events= render :partial => 'events/event', :collection => @trip.events
- else
  %p
    No events yet.

#new_event_wrapper
  .handle
  .ajax_loading
  %h3 Add Event
  = render :partial => 'events/mini_form', :locals => {:event => Event.new(:trip => @trip)}