%h1== #{link_to 'My Trips', trips_path}  &rsaquo; #{@trip.name}

#trip_id.hide= @trip.id

#trip_details_actions
  #trip_description
    - if @trip.description.present?
      = nl2br(@trip.description)
    - else
      No description.

  #trip_actions
    = link_to 'PLAY', {:action => 'play'}, :id => 'play_trip_button', :class => 'trip_button'
    = link_to 'SHARE', {:action => 'share'}, :id => 'share_trip_button', :class => 'trip_button'

= render :partial => 'trips/map', :locals => {:trip => @trip, :mode => :trip_overview}
%ul#events
  - unless @trip.events.empty?
    = render :partial => 'events/event', :collection => @trip.events

#new_event_wrapper
  .handle
  .ajax_loading
  %h3 Add Event
  = render :partial => 'events/mini_form', :locals => {:event => Event.new(:trip => @trip)}