%li
  %h2= event.name
  .description= nl2br(event.description)
  %p
    == #{event.started_at} - #{event.ended_at} in #{event.location}
  .items
    - if !event.items.empty?
      %ul= render :partial => 'items/mini_item', :collection => event.items

  %p
    == #{link_to 'import', import_trip_event_items_path(event.trip, event)} -
    == #{link_to 'add item', new_trip_event_item_path(event.trip, event)} -
    == #{link_to 'edit', edit_trip_event_path(event.trip, event)} -
    == #{link_to 'delete', event_path(event), :method => :delete, :confirm => "Are you sure?"}