!!!
%html
  %head
    %title TripForge
    = stylesheet_link_tag '/fancybox/jquery.fancybox-1.3.4.css'
    = stylesheet_link_tag :all
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"
    = javascript_include_tag "http://maps.google.com/maps/api/js?sensor=true"
    = javascript_include_tag 'ba-debug', 'helpers', 'date', 'anytime', 'custom_overlay',
      '/fancybox/jquery.fancybox-1.3.4.js', '/fancybox/jquery.easing.1.3.js', '/fancybox/jquery.mousewheel-3.0.4.js',
      'transport_mode', 'map_mode', 'map_container', 'event_info_container', 'map_navigation', 'trip', 'jquery-ui-1.8.7.custom.min',
      'jquery.scrollfollow', 'jquery.scrollTo', 'event_list', 'event_list_item', 'event', 'event_form', 'item', 'application', 'rails', 'photos'
    :plain
      <meta name="google-site-verification" content="boLChk8SchZxjONCE1VqZgaBonmNzg6mAY9bHG7jzHM" />
    = csrf_meta_tag
  %body{:id => "body-#{controller_name}-#{action_name}", :class => "controller-#{controller_name}"}
    - flash.each do |name, msg|
      = content_tag :div, msg, :id => "flash-#{name}"
    #header-outer
      #header-wrapper
        #header
          = link_to 'TripForge', :root, :id => 'logo'
          - if current_user
            #user_bar== logged in as #{link_to current_user.email, trips_path}
          #main-navbar
            %ul
              - unless current_user
                %li= link_to 'sign in', new_user_session_path
                %li= link_to 'create account', new_user_registration_path
              - else
                %li= link_to 'my trips', trips_path
                %li= link_to 'settings', edit_user_registration_path
                %li= link_to 'logout', destroy_user_session_path

    #wrapper
      #main-content
        #main-content-inner= yield
