%h2
  = link_to 'All Albums', "#all_albums_#{@provider.code}", :class => 'back_to_all_albums'
  &gt;
  = @album_title

%ul.photos
  - @photos.in_groups_of(per_row = 3, false) do |group|
    - group.each_with_index do |photo, i|
      - class_name = (i == 0 ? 'clear' : '')
      %li.photo{:class => class_name, :id => "photo_#{photo['id']}"}
        .provider_id.hide= @provider.id
        .album_id.hide= @album['id']
        .title.hide= photo['name']
        .source_url.hide= photo['source']
        .source_created_at.hide= photo['created_time']
        - thumbnail = photo['images'].find { |image| image['width'] == 75 }
        .image= image_tag thumbnail['source']
        - if photo['name'].present?
          %p= photo['name']